@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

:root {
  --fundo: #000;
  --corprimaria: #1f1f1f;
  --corsecundaria: #f44242;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--corprincipal);
}

section.esquerda {
  width: 30%;
  min-width: 205px;
  height: 100vh;
  float: left;
  background-color: #f7f7f7;
}

section.esquerda nav ul {
  list-style: none;
}

section.esquerda nav ul li {
  width: 93%;
  padding: 10px;
  padding-left: 40px;
  margin-left: -40px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.1s;
}

section.esquerda nav ul li:hover {
  border-left: 2px solid var(--corsecundaria);
  background-color: #00000011;
  color: var(--corsecundaria);
}

section.direita {
  width: 70%;
  height: 100%;
  padding: 10px;
  float: right;
}